.circular-menu {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 999;
}


.mini-logo {
  width: 15vw;
}

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: black;
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform .2s;  
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  /* background-color: hsl(4, 98%, 60%); */
  transition: all .3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0,0%,0%,.1);
  transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0,0%,0%,.3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



/**
 * The other theme for this menu
 */

.circular-menu.circular-menu-left {
  right: auto; 
  left: 1em;
}

.circular-menu.circular-menu-left .floating-btn {
  /* background-image: url(./assets/images/falso-idolo-logo.png);
  background-position: center;
  background-size: contain; */
  background-color: black;

}

.circular-menu.circular-menu-left:after {
  background-color: black;
}

.circular-menu.circular-menu-left.active .floating-btn i {
  transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(7em,0em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(6.5em,3.7em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
  transform: translate3d(4em,6.3em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
  transform: translate3d(0em,7em,0);
}

body {
  color: #faf4d6;
  background: black;
  font-family: "DaisyWheel", sans-serif;
  align-items: center;
  margin: 0%;
}

.sticky-logo {
  position: fixed;
  padding-left: 10px;
  z-index: 999 !important;
}

/* .mini-logo {
  width: 10vw;
} */

p {
  font-size: 5.3vw;
  text-align: center;
  margin: 0;
  padding: 2% 3% 1%;
  border-bottom: solid 1px rgb(95, 133, 133);
  border-radius: 15%;
}

.title {
  font-size: 15vw;
  margin: 11% 0 0 8.8%;
  text-align: center;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);
}

.main-container::after {
  content: "";
  background-image: url(./assets/images/flor.jpg);
  background-position: center;
  background-size: 53.5%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  margin: 0 0 0 0;
}

.indigena-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: rgb(8, 8, 8);
  /* border: red solid 2px; */
}

.indigena {
  width: 10vw;
  margin: 0 2vw 0 0;
}

.nav-bar {
  /* border: white solid 2px; */
  width: max-content;
  /* align-self: end;
    justify-self: end; */
}

.nav-bar-icon {
  width: 4vw;
  margin-right: 2vw;
}

.artista-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.artista-container a {
  text-decoration: none;
}

.artist-name {
  position: absolute;
  color: white;
  font-size: 4vw;
  padding: 2% 0% 2% 2%;
  margin: 10% 0% 0% 0%;
  text-shadow: 2px 2px 5px #333333;
}

.artista-container:hover .artist-name {
  visibility: visible;
  opacity: 1;
}

.artist-row {
  display: flex;
  flex-direction: column;
}

.artistas-container {
  display: flex;
  /* position: relative   ; */
  flex-direction: column;
  align-items: center;
}

.artista {
  width: 40vw;
  /* margin: 0% 0 3% 0; */
  /* border-radius: 50%; */
}

.yml {
  border: solid 0.1px #413f32;
}

footer {
  display: flex;
  flex-direction: row;
  margin: 3.5% 0 4%;
}

.leaf-back {
  width: 6.5vw;
  transform: rotate(100deg);
  cursor: pointer;
  margin: -1vh 10vw 0 13vw;
}

.footer-portion {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.footer-item {
  text-decoration: none;
  display: flex;
  margin: 0;
}

.social-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 72%;
  margin: 1% 0 2.5%;
}

.brand-name {
  font-size: 4.7vw;
}

.social-icons {
  font-size: 3vw;
  color: inherit;
}

.social-icons:hover {
  color: #b88805;
  border: #b88805;
}

@media only screen and (min-width: 600px) {
  .circular-menu.active:after {
    transform: scale3d(8, 8, 1);
  }

  .circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
    transform: translate3d(10em,0em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
    transform: translate3d(9em,5em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
    transform: translate3d(4em,9em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
    transform: translate3d(0em,10em,0);
  }
}

@media only screen and (min-width: 1024px) {
  .circular-menu.active:after {
    transform: scale3d(10, 10, 1);
  }

  .circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
    transform: translate3d(14em,0em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
    transform: translate3d(13em,7.4em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
    transform: translate3d(8em,12.6em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
    transform: translate3d(0em,14em,0);
  }

  .mini-logo {
    width: 11vw;
  }

  p {
    font-size: 2vw;
    border-bottom: none;
  }

  .title {
    display: flex;
    justify-content: center;
    margin: 3% 0 -2.5% 2.5%;
    padding-bottom: 2vw;
    font-size: 12.5vw;
  }

  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .main-container::after {
    content: "";
    background-image: url(./assets/images/flor.jpg);
    background-position: center;
    background-size: 53.5%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    margin: 0 0 0 0;
  }

  .indigena {
    width: 4%;
  }

  .artistas-container {
    width: 99%;
    align-items: center;
    /* margin: 7% 0% 3% -1.5%; */
  }

  .artist-row {
    display: flex;
    flex-direction: row;
  }

  .artista-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .artist-name {
    position: absolute;
    color: white;
    font-size: 2.5vw;
    border-radius: 4px;
    padding: 2% 0% 2% 2%;

    margin: 10% 0% 0% 0%;
  }

  /* .artista {
        }
        */
  .artista:hover {
    filter: brightness(1.05);
  }

  footer {
    flex-direction: row;
    width: 50vw;
    margin: 0% 0% 1.5% 28.3%;
  }

  .leaf-back {
    width: 2.2vw;
    margin: 0 3vw 0 0;
  }

  .footer-portion {
    width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }

  .brand-name {
    font-size: 1.8vw;
  }

  .social-icons-container {
    width: 20vw;
    justify-content: space-evenly;
    padding: 2% 0 0;
  }

  .social-icons {
    font-size: 1.25vw;
  }
}









/* 

.circular-menu {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 999;
}

.circular-menu .floating-btn {
  display: block;
  width: 9.5em;
  height: 9.5em;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: absolute;
  top: 5em;
 
  left: 4em;
  z-index: -2;
  transition: all .2s ease;
}

.circular-menu.active:after {
  transform: scale3d(12, 12, 1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: 0em;
  right: 3em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0,0%,0%,.1);
  transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0,0%,0%,.3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.circular-menu-left {
  right: auto; 
  left: 3em;
  top: 3em;
}

.circular-menu.circular-menu-left .floating-btn {
  background-color: black;
}

.circular-menu.circular-menu-left:after {
  background-color: black;
}

.circular-menu.circular-menu-left.active .floating-btn i {
  transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(8em,11em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(3.5em,16.7em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
  transform: translate3d(-4.5em,17.8em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
  transform: translate3d(0em,14em,0);
} */
