body {
     color:  #f4e5f5;
     background: black;
     font-family: 'DaisyWheel', sans-serif;    
     align-items: center;
     margin: 0;
     /* border: solid 2px yellow; */
     /* width: 80%;
     height: 70%; */
}

.title {
     display: flex;
     /* position: absolute; */
     z-index: 1;
     margin: 6.3% 0 -22% 0;
     /* margin: 0 auto; */
     /* float: top; */
     /* text-align: center; */
     color:  #f4e5f5;   
     /* text-shadow: white; */
     font-size: 18.5vw;     
}

input, textarea {
     font-size: 3vw;
}

.macro-container{
     
     margin-top: 8%;
     display: flex;
     /* justify-content: center; */
     align-items: center;
     flex-direction: column;
     
    
     /* max-height: 100%; */ 
     max-width: 100%;

     /* background-image: url(./assets/images/rio.jpg);
     background-size: cover;
      */
      /* background-blend-mode: hard-light; */
      /* border: violet solid 2px;  */
}


.main-container{
     display: flex;
     flex-direction: column;
     /* text-align: center; */
     align-items: center;
    /*  border: blue solid 2px; */
     width: 100%;
     /* height: 50%;  */
} 

.rana-orquidea{
     display: flex;
     width: 81%;
     /* position: absolute;  */
     /* top: 7vh;
     right: 9%;
     z-index: -1; */
     /* border: violet solid 2px; */
}

.form {
     display: flex;
     flex-direction: column;
     width: 81%;
     align-items: center;
     /* margin: 36.5vh 0 0; */
     margin: 0;
     font-family: 'DaisyWheel', sans-serif;
    /*  border: blue solid 2px  */
}

.form input, textarea{
     width: 45vw;
     line-height: 1.6; 
     background-color: rgb(244, 229, 245);
     border-radius: 2vw;
     margin-top: 6%;
     font-family: inherit; 
     /* border: red solid 2px  */
}

textarea {
     width: 58vw;
}
/* .form textarea {
     width: 45vw;
     height: 12vw;
} */

/* errors handling */

.form-item i, small{
     visibility: hidden;
     position: absolute;
     /* top: 40px;
     right: 10px; */
}

.checkbox-container {
     /* border: yellow solid 1px; */
     text-align: center;
     width: 100%;
     margin-top: 2%; 
         
}

.checkbox-container p {
     font-size: 3vw;
     display: inline;
     /* border: violet solid 2px; */
     
}

.checkbox-container a {
     text-decoration: underline;
     color:  #f4e5f5;
     /*  border: yellow solid 1px; */
}

.checkbox-container a:hover, .social-icons:hover{
     color: #BF65A7;
     border: #BF65A7;
}

input[type="checkbox" i] {
     margin-top: 0;
}

input.check {
     width : 2.8vw;
     height : 2.8vw;
     /* text-align: left; */
     /* background-color: lavenderblush; */
     
}

button {  
     margin: 4vw 0 4vw;
     border-radius: 50%;
     width: 21%;
     padding: 0;
     border: black;
     background-color: black;
    /*  color: transparent; */
    /*  background-image: url("./assets/images/espiral.jpg");
     background-size: cover; */
     
     /* background-repeat: no-repeat; */
     /* width: 21%;
     height: 12vh; */

     
     
     /* border-top: solid #4d2c44 0.5px;  */
     /* border-right: solid #83717e 0.05px;
     border-bottom: solid #BF65A7 0.001px; */
     /* border-left: solid #ac89a2 0.005px; */
     
     
     
     
     /* box-shadow: #BF65A7;  */ 
}

.spiral-send{
     /* margin: 4vw 0 6vw; */
     border-radius: 50%;
     /* border: solid red 2px; */
 
  width: 95%;
  border-radius: 50%;
  /* padding: 0; */
  /* border: solid red 2px; */
}

.spinning {
     -webkit-animation: rotation 2s infinite linear;
}
@-webkit-keyframes rotation {
     from {
               -webkit-transform: rotate(0deg);
     }
     to {
               -webkit-transform: rotate(359deg);
     }
}

.form input:focus, textarea:focus {
     outline: 0;
     border-color: #BF65A7;
   }

/* .hover:hover {
     
} */

.leaf-back {
     width: 6.5%;
     /* height: 2%; */
    /*  border: solid rgb(0, 255, 55) 2px; */
     transform: rotate(100deg);
     cursor: pointer;
     position: absolute;
     margin-left: -38%;
     padding:  0 3.5% 0 0;
     
     /* top: 101.5%; */
     /* bottom: -7.5%; */
}

footer {
     display: flex;
     flex-direction: column;
    /*  flex-wrap: wrap; */
     /* font-family: 'DaisyWheel', sans-serif; */  
     align-items: center;
     /* border: solid white 2px; */
     justify-content: space-between;
     /* position: relative; */
     /* bottom:0; */
     margin-bottom: 3%;
}


.footer-item {
     text-decoration: none;
     display: flex;  
     /* width: 100%; */
     margin: 0;
     /* text-align: center; */
     /* padding: 0 2.5%; */
     /* border: solid red 2px; */
}

.social-icons-container {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     width: 85%;
     margin: 2.5% 0 2.5%;
     /* border: solid yellow 2px; */
}

.brand-name {
     font-size: 4.7vw; 
}

.social-icons {
     font-size: 3vw;
     color:  #f4e5f5;
     /* border: solid rgb(0, 255, 55) 2px; */
}


@media only screen and (min-width: 1024px) {
   
     .title {
          position: static;
          margin: 2% 0 1.5%;
          /* text-shadow: white; */
          font-size: 13vw;      
     }

     .macro-container {
          margin: 1% 0 0;
          flex-direction: column;
          align-items: center;
          /* max-width: 80%; */
         /*  justify-content: flex-start; */
         /* border: solid rgb(0, 255, 55) 2px; */
         /* width: 70%; */
         
     }

     .main-container{
          width: 95%;
          flex-direction: row;
          /* align-items: center; */
          /* height: 80%; */
         /*  border: solid yellow 2px; */
          /* margin: 0; */
          justify-content: center;
          
     }

     
     .rana-orquidea {
          width: 55%;
          /* position: absolute; */
          z-index: -1;
          margin: -11% -6% 0 0;
          /* margin-left: 6.8%;
          top: 6%;
          bottom: 4%; */
          /* margin-bottom: 8vw;  */
     }

     .form {
          width: 30%;
          margin: -2% 10% 0 0;
          /* margin-left: 55%; */
          /* margin: 0 3vw 0 0; */
          /* border: solid rgb(0, 255, 55) 2px; */    
     }



     .form input, textarea {  
          line-height: 1.025; 
     }


     .form input {
          width: 24vw
     }

    /*  input::placeholder {
          font-size:
     } */
     
     .form textarea {
          width: 32vw;
          margin-bottom: 0.5vh;
     }

     input.check {
          width : 1.6vw;
          height : 1.6vw;
          margin: 0 1vw;
     }

    /*  input + p {
          font-size: 2vw;
          
     } */
     .checkbox-container {
          width: 113%;
          /* border: red solid 3px */ 
     }

     .checkbox-container p {
          font-size: 1.7vw;
          line-height: 1.2;
          /* margin-top: 3vh; */
          /* border: red solid 3px  */  
     } 

     button {
          margin: 3% 0 0;
          /* border: red solid 3px; */
     }
     /* .spiral-send{         
          width: 40%;
     } */

     footer { 
          flex-direction: row;  
          width: 50vw;  
          margin: -1% 0vw 0vh 0%;
          /* border: red solid 3px; */
     }

     .leaf-back {
          width: 3.6vw;
          margin: -1% 3vw 0 0;
     }

     .footer-portion {
          width: 40vw;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 0;
          /* border: blue solid 3px; */
     }

     .brand-name {
          font-size: 2.5vw;
     }

     .social-icons-container {
          width: 20vw;
          justify-content: space-evenly;
          padding: 2% 0 0;
     }

     .social-icons {
          font-size: 1.6vw;
     }
    
}
