body {
     color:  #f4e5f5;
     background: black;
     font-family: 'DaisyWheel', sans-serif;    
     align-items: center;
     margin: 0;
     /* border: solid 2px yellow; */
     /* width: 80%;
     height: 70%; */
}

h1 {
     /* display: flex; */
     text-align: center;
     color:  #f4e5f5;
     margin: 15% 0 0%;
     /* text-shadow: white; */
     font-size: 17vw;     
}

h2 {
     font-size: 4.7vw; 
}

input, textarea {
     font-size: 3vw;
}

a {
     text-decoration: none;
     color: #f4e5f5;
}

p {
     font-size: 3vw;
     display: inline;
     /* border: violet solid 2px; */
     margin: 3vw 0 20% 0;
}

/* .macro-container{
     display: flex;
     flex-direction: column;
     border: violet solid 2px; 
     min-height: 100%;
} */
.main-container{
     display: flex;
     flex-direction: column;
     /* text-align: center; */
     align-items: center;
    /*  border: violet solid 2px; */
     /* width: 70%; */
     /* height: 50%;  */
} 

.rana-orquidea{
     display: flex;
     width: 80vw;
     /* position: absolute;  */
     /* top: 7vh;
     right: 9%;
     z-index: -1; */
     /* border: violet solid 2px; */
}

/* .orquidea {
     position: absolute; 
     top:8%;
     right: 12%;
     width: 70%;
     z-index: -1;
}*/

/* .rana {
     
     margin: 33% 0 0 0;
     width: 65%;
     
}  */

.form {
     display: flex;
     flex-direction: column;
     width: 80vw;
     align-items: center;
     /* margin: 36.5vh 0 0; */
     margin: 0;
     font-family: 'DaisyWheel', sans-serif;
     /* border: blue solid 2px  */
}

.form input, textarea {
     background-color: rgb(244, 229, 245);
     border-radius: 2vw;
     margin-top: 1.5vh;
     font-family: inherit; 
}
.form input, textarea {
     width: 45vw;
     line-height: 1.6; 
}
/* .form textarea {
     width: 45vw;
     height: 12vw;
} */

/* errors handling */

.form-item i, small{
     visibility: hidden;
     position: absolute;
     top: 40px;
     right: 10px;
}

.checkbox-container {
     /* border: yellow solid 1px; */
     text-align: center;
     width: 80vw;
     margin: 0 2vw;
}

.checkbox-text a {
     text-decoration: underline;
    /*  border: yellow solid 1px; */
}

input.check {
     width : 2.5vw;
     height : 2.5vw;
     /* text-align: left; */
     /* background-color: lavenderblush; */
}

button {
     margin: 4vw 0 6vw;
     border-radius: 50%;
     border-top: solid #4d2c44 0.5px; 
     /* border-right: solid #83717e 0.05px;
     border-bottom: solid #BF65A7 0.001px; */
     border-left: solid #ac89a2 0.005px;
     padding: 0%;
     background-color: black;
     width: 25vw;
     /* box-shadow: #BF65A7;  */ 
}
.spiral-send{
  width: 80%;
  padding: 0;
  /* border: solid red 2px; */
}

#loading {
     -webkit-animation: rotation 2s infinite linear;
}
@-webkit-keyframes rotation {
     from {
               -webkit-transform: rotate(0deg);
     }
     to {
               -webkit-transform: rotate(359deg);
     }
}

.form input:focus, textarea:focus {
     outline: 0;
     border-color: #BF65A7;
   }

.hover:hover {
     color: #BF65A7;
     border: #BF65A7;
}

footer {
     display: flex;
     flex-direction: column;
    /*  flex-wrap: wrap; */
     /* font-family: 'DaisyWheel', sans-serif; */  
     align-items: center;
     /* border: solid white 2px; */
     justify-content: space-between;
     position: relative;
     bottom:0;
}


.footer-item {
     text-decoration: none;
     display: flex;  
     /* width: 100%; */
     margin: 0;
     /* text-align: center; */
     /* padding: 0 2.5%; */
     /* border: solid red 2px; */
}

.social-icons-container {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     width: 35%;
     margin: 2vh 0 1vh;
     /* border: solid yellow 2px; */
}

.social-icons {
     font-size: 3.5vw;
     color:  #f4e5f5;
     /* border: solid rgb(0, 255, 55) 2px; */
}

@media only screen and (min-width: 720px) {
     .main-container{
          flex-direction: row;
          justify-content: space-around;
     }

     h1 {
          margin: 9% 0 0;
          /* text-shadow: white; */
          font-size: 13vw;     
     }

     h2 {
          font-size: 2.5vw;
     }
     
     .rana-orquidea {
          width: 55vw;
          margin-bottom: 8vw; 
     }

     .form {
          width: 40vw;
          margin: 0 3vw 0 0;
          /* border: solid rgb(0, 255, 55) 2px;  */   
     }



     /* .form input, textarea {
          
          line-height: 1.6; 
     } */


     .form input {
          width: 25vw
     }

    /*  input::placeholder {
          font-size:
     } */
     
     .form textarea {
          width: 35vw;
          margin-bottom: 0.5vh;
     }

     input.check {
          width : 1.6vw;
          height : 1.6vw;
          margin: 0 1vw;
     }

    /*  input + p {
          font-size: 2vw;
          
     } */
     .checkbox-container {
          width: 40vw;
          /* border: red solid 3px; */
     }

     .checkbox-text {
          font-size: 1.7vw;
          line-height: 1.2;
          /* margin-top: 3vh;
          border: red solid 3px */;   
     } 

     button {
          margin: 2vw 0 2vw;
     }
     .spiral-send{         
          width: 40%;
     }

     footer {
          flex-direction: column;  
          /* border: red solid 3px; */   
     }

     .social-icons-container {
          width: 20vw;
          justify-content: space-evenly;
         /*  border: red solid 3px; */
          padding: 0 4vw;
     }

     .social-icons {
          font-size: 1.6vw;
     }
    
}


@media only screen and (min-width: 1024px) {

     h1 {
          font-size: 8vw;
          margin: 7vh 0 0 0;
     }

     p {
          font-size: 4vw;
     }

     .main-container {
          /* align-items: top; */
          width: 100%;
          align-items: end;
          /* border: red solid 3px; */
          /* flex-shrink: 50; */
          justify-content: top;

     }
     .rana-orquidea {
          width: 100%;
          /* margin: 0; */
          /* border: red solid 3px; */
         /*  align-content: flex-end; */
          /* flex-shrink: 50; */
     }

     .form {
          /* border: red solid 3px; */
          width: 45%;
          margin-top: 8.5vh;
          /* flex-shrink: 50; */
     }

     .form input, textarea {
          width: 25vw;
          line-height: 1; 
     }
     .checkbox-container {
          /* border: yellow solid 1px; */
          /* text-align: center; */
          width: 45vw;
          /* margin: 0 2vw; */
     }
     input.check {
          width : 1.6vw;
          height : 1.6vw;
          /* text-align: center; */
          /* background-color: lavenderblush; */
     }
}
